# le mail pour recevoir la notification
MAIL="jonquille@gmail.com" 
# mot de passe d'application Google
MAIL_PASSWORD="abcdefgijklmnopq" 
# mail du compte sur le site de la fête de l'huma
HUMA_MAIL="caffard@cafetiere.com"
# mdp du compte sur le site de la fête de l'huma
HUMA_PASSWORD="carapace"

# à mettre à jour en fonction de l'année
HUMA_CART_URL="https://resell.seetickets.com/fete-de-lhumanite-2026/cart"
HUMA_LOGIN_URL="https://resell.seetickets.com/fete-de-lhumanite-2026/login"
HUMA_RESELL_URL="https://resell.seetickets.com/fete-de-lhumanite-2026/event/2915/fete-de-l-humanite-2026-camping"
